element.style {
}
@media only screen and (max-width: 1120px) {
    #join_us {
        -ms-grid-columns: 250px 1fr;
        grid-template-columns: 250px 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
        ". join_us_text"
        ". copy_ip";
    }
}
#join_us {
    position: relative;
    background: url(../images/top.webp) no-repeat right top, url(../images/bottom.webp) no-repeat left bottom, #fff;
    background-size: 170px, 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 1fr auto;
    grid-template-columns: 250px 1fr auto;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas: ". join_us_text copy_ip";
}
section {
    letter-spacing: 0.01em;
    background-color: #fff;
    width: 100%;
    border-radius: 14px;
    border-bottom: #e4dbdb 4px solid;
    padding: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 24px;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Mazzard M";
    color: #1b1712;
}
user agent stylesheet
section {
    display: block;
    unicode-bidi: isolate;
}
html, body {
    height: 100%;
    font-size: 16px;
}
<style>
@font-face {
    font-family: "Mazzard M";
    src: url(../fonts/MazzardM-Medium.eot);
    src: local("Mazzard M Medium"), local("MazzardM-Medium"), url(../fonts/MazzardM-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/MazzardM-Medium.woff2) format("woff2"), url(../fonts/MazzardM-Medium.woff) format("woff"), url(../fonts/MazzardM-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

